replicaCount: 1

image:
  repository: devops-labs-go
  tag: local
  pullPolicy: IfNotPresent

service:
  port: 80
  targetPort: 8080

env:
  APP_PORT: "8080"
  APP_ENV: "dev"

readinessProbe:
  path: /healthz
  initialDelaySeconds: 2
  periodSeconds: 5

livenessProbe:
  path: /livez
  initialDelaySeconds: 10
  periodSeconds: 10

resources: {}